/* Card creator structure */
.create-card-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-creator {
    box-shadow: inset 0 0 100px black;
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: wheat;
}

.value-selection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    overflow-y: auto;
}

/* Value selection styles */

.value-selection .invalid-number::after {
    content: "*Input must be in range 1-999!";
    display: block;
    padding: 10px;
    color: red;
}

.value-selection .invalid-text::after {
    content: "*Word max length is 18 chars\a   and max 5 rows in card text";
    display: block;
    padding: 10px;
    color: red;
    white-space: pre-wrap;
}


.value-selection>div {
    margin-bottom: 30px;
}

.value-selection label {
    text-align: left;
    margin-right: 5px;
    font-size: large;
}

.value-selection textarea {
    height: 100px;
}


.source-selection {
    width: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.source-selection>label {
    margin-right: 10px;
}

.text-selection{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

/* image source checkbox style*/

#image-source-checkbox {
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: rgb(203, 170, 108);
    position: relative;
    display: block;
    cursor: pointer;
}

#image-source-checkbox::before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: brown;
    left: 0;
    transition: all 0.2s ease;
}

#image-source-checkbox-input {
    display: none;
}

#image-source-checkbox-input:checked+#image-source-checkbox::before {
    left: 100%;
    transform: translateX(-100%);
}

#image-file-input {
    visibility: hidden;
    opacity: 0;
    transition: margin 0.3s ease, opacity 1s ease;
}

#image-source-checkbox-input:not(:checked)~#image-file-input {
    margin: 20px;
    opacity: 1;
    visibility: visible;
}


/* Download button styles */

#download{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 0.5em;
    transition: all 400ms ease;
}

#download:hover{
    background-color: rgb(203, 170, 108);
}