/* Card loading styles */

body.cards-loading {
    cursor: wait;
}

body.cards-loading .card,
body.cards-loading .deck {
    filter: blur(3px);
}


body.cards-loading button {
    pointer-events: none;
    opacity: 0.5;
}

/* Deck builder structure */

.deck-builder {
    background-color: rgb(203, 170, 108);
    box-shadow: inset 0 0 200px black;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-container {
    display: grid;
    padding: 10px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: var(--card-height);
}


/* card container styles */

.cards-container:empty::before {
    grid-column: 1 / -1;
    align-self: center;
    font-size: 15pt;
    font-weight: bold;
    content: 'No cards found.';
}

body.cards-loading .cards-container:empty::before {
    grid-column: 1 / -1;
    content: 'Cards are loading...';
}

.cards-container:empty~.pages>.next {
    pointer-events: none;
    opacity: 0.5;
}

.cards {
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* Card styles*/

.card {
    width: var(--card-width);
    transition: all 0.3s ease;
    transition-property: transform, filter;
}

.card:hover:not(.cannot-add) {
    transform: scale(1.2);
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px black);
}

.card:active:not(.cannot-add) {
    transform: scale(1.5);
}

.cannot-add {
    filter: grayscale(100%) contrast(50%);
}

/* Filter styles */

.filters {
    display: flex;
    background-color: rgb(203, 170, 108);
    border-radius: 0 0 1em;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    width: 100%;
    min-height: 80px;
    transform: translateY(-100%);
    transition: transform 1s ease;
    z-index: 1;
}

body.filter-show .filters {
    transform: translateY(0%);
}

.show-filter-button {
    width: 100px;
    align-self: center;
    justify-self: center;
}

.filters-base {
    display: grid;
}

.filters-base>* {
    grid-row: 1;
    grid-column: 1;
}

.filters>form {
    flex-grow: 1;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.hide-filter-button {
    height: 30px;
    margin: 10px;
}

.lst>select {
    width: 100px;
    margin-right: 20px;
}

form>button {
    width: 120px;
    height: 30px;
    border-radius: 0.5em;
}

form>div {
    display: flex;
}

/* Deck styles */

.deck {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px dashed black;
}

.deck-select {
    display: flex;
    justify-content: center;

}

.deck-select>button,
.clear-deck {
    height: 30px;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.deck-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.deck-container>p {
    font-size: 20pt;
    font-weight: bold;
}

.card-in-deck {
    min-height: 50px;
    width: 240px;
    display: grid;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-bottom: 5px;
    border-radius: 0.4em;
    border: solid 2px black;
    background-color: rgb(114, 0, 0);
}

.card-in-deck>* {
    grid-row: 1;
    grid-column: 1;
}

.card-in-deck>div {
    z-index: 1;
    font-weight: bold;
    font-size: large;
    color: wheat;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.card-in-deck:hover {
    transform: scale(1.5);
    z-index: 10;
    cursor: context-menu;
}

.selected-deck {
    background-color: goldenrod;
}