@import url('cardCreator.css');
@import url('deckBuilder.css');

:root {
    --card-width: 200px;
    --card-height: 300px;
}

/* Page structure */

body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    justify-content: center;
    min-height: 80vh;
}

header {
    background-color: rgb(203, 170, 108);
    display: flex;
    text-shadow: 3px 3px 10px brown;
    box-shadow: inset 0px 0px 3spx black;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
}

.page>nav {
    height: 5vh;
    z-index: 10;
    background-color: rgb(203, 170, 108);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(203, 170, 108);
    border-top: 1px solid black;
    box-shadow: inset 0px 0px 5px black;
    box-sizing: border-box;
    text-align: center;
    min-height: 5vh;
    width: 100%;
    font-weight: bold;
}

footer>p{
    margin-bottom: 0;
}



/* Page selection */

a {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15pt;
    color: black
}

a:hover {
    color: rgb(116, 0, 0)
}

nav>button,
.deck button {
    margin: 10px;
    height: 30px;
    width: 100px;
    font-weight: bold;
}

button {
    cursor: pointer;
    background-color: wheat;
}

main h2 {
    text-align: center;
    margin-top: 5vh;
}

.page-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header styles*/

.app-name {
    margin-left: 70px;
    margin-right: auto;
    flex-grow: 1;
    text-align: center;
}

#svg-music {
    margin-right: 20px;
    transition: all 500ms ease;
    filter: drop-shadow(3px 2px 2px black);
}

#svg-music:hover {
    transform: rotate(-30deg) scale(1.2);
    cursor: pointer;
}


/* Media queries */

@media (max-width:1030px) {
    /* Media queries deck builder */
    .deck-select {
        flex-direction: column;
        margin-top: 50px;
    }

    .deck-select>button {
        margin: 10px 0 0 0;
    }

    .filters>form {
        flex-direction: column;
    }

    form>button {
        margin-top: 10px;
    }

    form>div {
        flex-direction: column;
    }

    .lst>select {
        margin: 5px;
    }

    .card-in-deck:hover {
        transform: none;
    }

    .deck-container {
        transform: scale(0.55);
    }

    .deck-builder {
        box-shadow: inset 0 0 100px black;
    }

    /* Media queries card creator */
    #canvas {
        transform: scale(0.4);
    }

    .card-creator {
        flex-direction: column-reverse;
        height: 100%;
    }

    .create-card-container {
        height: 300px;
        width: 100%;
        border-top: dashed 1px black;
    }

    .value-selection {
        width: 300px;
        padding: 20px;
        margin: auto;
    }

    #download {
        align-self: center;
    }

    header {
        font-size: 13pt;
    }

    .page>nav a {
        font-size: 10pt;
    }

    footer {
        font-size: 10pt;
    }
}